.more .more__btn-list {
  display: flex;
  justify-content: center;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  padding: 15px 0px;
  width: 100%;
}

.more .more__btn-list .more__btn {
  margin: 0px auto;
  padding: 0px auto;
  cursor: pointer;
}

.more .more__btn-list .more__btn-line {
  border-right: 2px dotted black;
}

.more .more__btn-list i {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.more .friends__friends.friend {
  display: block;
}

.more .more__header .friend__column {
  margin-bottom: 28px;
}

.more .more__suggestions .more__title {
  margin: 20px auto;
  opacity: 0.6;
}

.more .more__suggestions .more__suggestions-list i {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: gold;
  padding: 8px;
  border-radius: 10px 10px;
  cursor: pointer;
}
.more .more__suggestions .more__suggestions-list .fas.fa-gamepad.fa-2x {
  width: 48px;
  padding-left: 4px;
}
